.container {
    padding-top: 175px;
    margin-bottom: 150px;
  }
  .mainContent {
    width: 1290px;
    height: 633px; 
    display: flex;
    margin: 0 auto;
    gap: 88px;
    border-radius: 55px;
    background-color: white;
    border: 1px solid #D8D8D8;
  }

    .leftSide {
    flex: 1; 
    display: flex;
    opacity: 0px;
  }
  
  .image {
    background-color: black;
    width: 100%;
    object-fit: cover; 
    border-radius: 55px 0px 0px 55px;
  }
  
  .rightSide {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 57px;
    margin-bottom: 20px;
    color: #0FB1AC;
  }
 
  
  .description {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .input {
    width: 78%;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 22px;
    font-size: 1rem;
    border: 1px solid #cccccc41;
    border-radius: 55px;
    
  }
  
  .button {
    width: 80%;
    height: 61px;
    background-color: #0FB1AC;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 45px;
  }
  
  .button:hover {
    background-color: #248380;
  }

  .Payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
    padding: 160px 20px 0;

  }
  .Payment p {
    color: #074049;
  }
  .Cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .leftCard {
    width: 305px;
    height: 240px;
    border-radius: 40px;
    border: 1px solid rgb(139, 139, 139);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightCard {
    width: 305px;
    height: 240px;
    border-radius: 40px;
    border: 1px solid rgb(161, 161, 161);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img {
    width: 100%;
    border-radius: 40px; 
  }
  .imge {
    width: 85%;
    padding-bottom: 15px;
  }
  .mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin: 150px 0 50px;
  }
  .paragraph {
    color: #0FB1AC;
    font-size: 18px;
  }
  .infoTitle {
    font-size: 56px;
    color: #074049;
  }

  .secondContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    margin: 0 auto;
    gap: 30px;
  }
  
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .mainP {
    font-size: 24px;
    margin-bottom: 15px;
    color: #074049;
  }
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    
    width: 413px;
    height: 125px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
    gap: 25px;
    cursor: pointer;
  }
  .icon {
    background-color: #0FB1AC;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 30px; */
  }
  .first {
    font-size: 23px;
    padding-bottom: 8px;
  }
  
  .right {
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 140px;
  }
  
  .map {
    width: 100%;
    height: 900px;
    min-width: 120px;
    min-height: 500px;
    border: 0;
    border-radius: 40px;
    /* z-index: -1; */
  }
  
  @media (max-width: 1360px) {
    .mainContent {
      width: 90%;
    }
  }

  @media (max-width: 1140px) {

    .right {
      padding-right: 0;
      }
      .image {
        display: none;
      }
      .rightSide {
        flex: 1; 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
      }
      .leftSide{
        display: none;
      }

  }
  @media (max-width: 830px) {
    .item {
        width: 100%;
        height: 95px;
      }
      .icon {
        width: 70px;
        height: 70px;
      } 
      .first {
        font-size: 20px;
      }
      .second {
        font-size: 15px;
      }
  }
  @media (max-width: 730px) {
    .secondContent {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 300px;
    }
    .map {
        border-radius: 0;
    }
    .right {
        padding-right: 0;
        }
    
  }
  @media (max-width: 540px) {
    .title {
        font-size: 40px;
    }
  }
  @media (max-width: 410px) {
    .infoTitle {
      font-size: 40px;
    }
  }

  @media (max-width: 370px) {
    .title {
        font-size: 30px;
    }
    .leftCard {
        width: 80%;  
    }
    .rightCard {
      width: 80%;  
    }

  }
  @media (max-width: 378px) {
    .item {
      display: flex;
      flex-direction: column;
      height: 150px;
      text-align: center;
      gap: 5px;
    }
    .icon {
      width: 60px;
      height: 60px;
    }
  }


/* .input {
  border: 1px solid #ccc; 
  padding: 10px; 
  border-radius: 5px;
  width: 100%; 
} */

.errorInput {
  border: 2px solid red; 
}


.error {
  color: red; /* Error message color */
  margin-top: 10px; /* Space above the error message */
}

.burger-wrapper{
  display: flex !important;
  align-items: center !important ;
}
