.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    padding-top: 175px;
    margin-bottom: 150px;
  }
  .mainContent {
    width: 45%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    background-color: white;
    border: 1px solid #D8D8D8;
  }

    .leftSide {
    flex: 1; 
    display: flex;
    opacity: 0px;
  }
  
  .image {
    width: 100%;
    object-fit: cover; 
    border-radius: 55px 0px 0px 55px;
  }
  
  .rightSide {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  form{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .title {
    font-size: 40px;
    color: #0FB1AC;
  }

  .description {
    font-size: 20px;
  }
  
  .input {
    width: 80%;
    height: 15%;
    text-align: start;
    font-size: 1rem;
    border: 1px solid #D8D8D8;
    border-radius: 55px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .button {
    width: 80%;
    height: 15%;
    background-color: #0FB1AC;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 55px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #248380;
  }

  .Payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
    padding: 100px 0px 0px 0px;

  }
  .Payment p {
    color: #074049;
  }
  .Cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card {
    width: 305px;
    height: 240px;
    border-radius: 40px;
    border: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
  }

  .imgbox{
    width: 80%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img {
    width: 100%;
    z-index: initial;
  }
  .mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin: 150px 0 50px;
  }
  .paragraph {
    color: #0FB1AC;
    font-size: 18px;
  }
  .infoTitle {
    font-size: 56px;
    color: #074049;
  }

  .secondContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    margin: 0 auto;
    gap: 30px;
  }
  
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .mainP {
    font-size: 24px;
    margin-bottom: 15px;
    color: #074049;
  }
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    
    width: 413px;
    height: 125px;
    background-color: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 20px;
    font-size: 1rem;
    gap: 25px;
    cursor: pointer;
  }
  .icon {
    background-color: #0FB1AC;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 30px; */
  }
  .first {
    font-size: 23px;
    padding-bottom: 8px;
  }
  
  .right {
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 140px;
  }
  
  .map {
    width: 100%;
    height: 900px;
    min-width: 120px;
    min-height: 500px;
    border: 0;
    border-radius: 40px;
    /* z-index: -1; */
  }
  
  @media (max-width: 1360px) {
    /* .title{
      font-size: 60px;
    }
    .description{
      font-size: 30px;
    }
    .input::placeholder{
      font-size: 20px;
    } */
  }

  @media (max-width: 1259px) {
    .right {
      padding-right: 0;
      }
      .image {
        display: none;
      }
      .leftSide{
        display: none;
      }

  }
  @media (max-width: 1100px) {
    .title{
      font-size: 30px;
    }
    .description{
      font-size: 18px;
    }

  }
  @media (max-width: 830px) {
    .mainContent {
      width: 90%;
    }
    .title{
      font-size: 50px;
    }
    .description{
      font-size: 25px;
    }
    .item {
        width: 100%;
        height: 95px;
      }
      .icon {
        width: 70px;
        height: 70px;
      } 
      .first {
        font-size: 20px;
      }
      .second {
        font-size: 15px;
      }
  }
  @media (max-width: 730px) {
    .title{
      font-size: 40px;
    }
    .description{
      font-size: 20px;
    }
    .secondContent {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 300px;
    }
    .map {
        border-radius: 0;
    }
    .right {
        padding-right: 0;
        }
    
  }
  @media (max-width: 540px) {
    .title {
        font-size: 34px;
    }
    .description{
      font-size: 18px;
    }
  }
  @media (max-width: 432px) {
  .title {
    font-size: 28px;
  }
  .description{
    font-size: 14px;
  }
    .infoTitle {
      font-size: 40px;
    }
  }

  @media (max-width: 370px) {
    .title {
        font-size: 30px;
    }
    .leftCard {
        width: 80%;  
    }
    .rightCard {
      width: 80%;  
    }

  }
  @media (max-width: 378px) {
    .item {
      display: flex;
      flex-direction: column;
      height: 150px;
      text-align: center;
      gap: 5px;
    }
    .icon {
      width: 60px;
      height: 60px;
    }
  }


/* .input {
  border: 1px solid #ccc; 
  padding: 10px; 
  border-radius: 5px;
  width: 100%; 
} */

.errorInput {
  border: 2px solid red; 
}


.error {
  color: red; /* Error message color */
  margin-top: 10px; /* Space above the error message */
}

.burger-wrapper{
  display: flex !important;
  align-items: center !important ;
}
