.card {
    width: 413px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    transition: transform 0.3s ease;
  }
  .topItem {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card:hover {
    transform: translateY(-10px);
  }
  
  .cardImage {
    width: 413px;
    height: 220px;
    object-fit: cover;
  }
  
  .cardContent {
    padding: 20px;
    text-align: start;
  }
  
  .title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(15, 177, 172, 1); /* Narx rangi */
    margin-bottom: 15px;
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .icon {
    display: flex; 
    align-items: center;
    gap: 5px;
  }
  
  .icon span {
    font-size: 0.9rem;
    color: #333;
  }
  
  .bookBtn {
    width: 373px;
    height: 61px;
    background-color: rgba(15, 177, 172, 1);
    color: white;
    border: none;
    border-radius: 55px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 18px;
  }
   
  .bookBtn:hover {
    background-color: #056d5c;
  }
  
  .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .BrowseAll {
    padding: 18px 38px;
    font-size: 18px;
    background-color: rgba(15, 177, 172, 0);
    color: black;
    border: 1px solid #074049;
    border-radius: 55px;
    cursor: pointer;
    gap: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 45px;
  }
  .BrowseAll:hover {
    background-color: #0FB1AC;
    border: none;
  }
  
  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  
    .cardImage {
      width: 100%;
      height: auto;
    }
    .bookBtn {
      width: 100%;
      height: 61px;
      background-color: rgba(15, 177, 172, 1);
      color: white;
      border: none;
      border-radius: 55px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 18px;
    }
  }
  
  